/* h1{
    color: red;
    background-color: aqua;
} */
h1{
    border: 2px solid red;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size:xx-large;
    padding: 50px 20px 10px;
    

}