body{
    background-color: #3D5A80;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f7ede2;
}
h1{
    color: rgb(238, 108, 77);
}
h2{
    color:  #E0FBFC;
}
li{
    color: white;
}

#bordeado{
    border: 3px solid white;
}

.aloha{
    background-color: #293241;
    color: white;
}

input{
    border: 2px dashed rgb(238, 108, 77);
}

div p{
    font-size: 150%;
    color:#98C1D9;
}

input[type="text"] {
    background: rgb(5, 174, 246);
  }

  a:visited{
    color: white;
  }

div:nth-of-type(3){
    background: blue ;
}
div p:nth-of-type(2){
    border: 4px solid white;
}
div p span:nth-of-type(1){
    background-color: white;
}
input[type="checkbox"] {
    margin-left: 60px;
  }

  label{
    text-transform: uppercase;
  }
  #ultimo::first-letter{
    font-size: 300%;
    background: orange;

  }
